<section class="flex flex-col w-full h-full justify-center bg-slate-400 p-8 ">
<h2 class="text-4xl content-center text-amber- p-4 text-center">Ver Productos</h2>
   {{#if contenido}}
<div class="flex flex-row flex-wrap">
   {{#each products}}
    <article class=" bg-slate-300 shadow-md shadow-black flex flex-col  justify-center m-4 content-center  max-w-xs">
        <h3 class="text-center p-4">{{this.TITLE}}</h3>
        <img class="text-center p-4 m-4 shadow-sm shadow-slate-300 border" src={{this.URL}} alt={{this.TITLE}}>
        <h4 class="text-center p-4">{{this.PRICE}}</h4>
    </article>
    {{/each}}
    {{else}}
    <p>{{products.data}}</p>
    {{/if}}
</div>
</section>